<html lang="en">
  <head>
    <title>Hoops Fusion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <section id='app-container'>
    </section>
    <script src='/static/assets/bundle.js?={{ range(1, 1000) | random }}'></script>
  </body>
</html>